[Desktop Entry]
Name=Alpha

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Parthka
X-KDE-PluginInfo-Email=parthka.2005@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
